.container {
  position: absolute;
  left: 42%;
  top: 20%;
}

.login_text {
  position: relative;
  left: 30%;
  padding-bottom: 20px;
}

.input {
  padding-bottom: 20px;
}
.button {
  position: relative;
  left: 30%;
  padding: 10px 20px 10px 20px;
}
.btn {
  padding-top: 20px;
}
